@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|Roboto+Mono&display=swap');

::selection {
    background: #ECB72D; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #ECB72D; /* Gecko Browsers */
}

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202223;
    color: white;
    margin: 60px 0 0 0;
}

h1, h2, h3, h4 {
    font-family: Montserrat;
    color:  #ECB72D;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 800px;
    text-align: justify;
    margin-top: 40px;
}

.logo-text {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    width: 150px;
    height: 32px;
    transition: 0.5s;
}

.logo-text:hover {
    text-decoration: underline #ECB72D;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #161819;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.search-bar {
    border: none;
    border-bottom: solid 2px #505050;
    background-color: #161819;
    padding: 6px;
    font-family: 'Roboto Mono';
    font-size: 1.2em;
    color: #ECB72D;
    transition: 0.5s;
}

.search-bar:focus {
    border-bottom: solid 2px #ECB72D;
    outline: none;
}

.search-bar::placeholder {
    color: #505050;
}

.settings {
    width: 40px;
    height: 40px;
    margin-right: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #1b1d1e;
    box-shadow: 0px 4px 4px #161819;
}

.filter select {
    border: none;
    border-bottom: solid 2px #505050;
    background-color: #1b1d1e;
    color: #505050;
    font-family: 'Roboto Mono';
    font-size: 1.2em;
    margin-left: 20px;
    padding: 6px;
    outline: none;
    transition: 0.5s;
    outline: none;
}

.filter select:focus {
    outline: none;
}

.filter h3 {
    color: #505050;
}

.book {
    text-decoration: none;
    padding: 15px;
    box-shadow: 0px 5px 10px #161819;
    transition: 0.5s;
}

.book:hover {
    background-color: rgb(20,20,20);
    box-shadow: 0px 5px 10px #161819;
}

.book img {
    height: 300px;
    width: 210px;
}

.book h4 {
    color: #ECB72D;
    margin: 20px 0 0 5px;
    font-size: 20px;
}


.book h5 {
    color: grey;
    margin: 5px 0 0 5px;
    font-size: 15px;
}

#pin {
    position: fixed;
    display: flex;
    top: 160px;
    width: 600px;
    height: 400px;
    background-color: #1b1d1e;
    box-shadow: 0px 4px 4px #161819;
    padding: 30px;
}

#close {
    position: absolute;
    top: 0;
    right: 0;
    color: #ECB72D;
    text-decoration: none;
    font-size: 25px;
    font-family: Montserrat;
    padding: 5px;
    transition: 0.5s;
}

#close:hover {
    color: rgb(82,26,135);
}

#pin img {
    height: 300px;
    width: 210px;
}

#pin p {
    text-align: justify;
    padding-left: 20px;
    margin: 0;
}

#pin h4, #pin h5 {
    margin: 10px 0 0 0;
}

#pin h5 {
    margin-bottom: 15px;
}

#pin div a {
    background-color: #ECB72D;
    color: rgb(82,26,135);
    transition: 0.5s;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
}

#pin div a:hover {
    background-color: rgb(82,26,135);
    color: #ECB72D;
    transition: 0.5s;
}