@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|Roboto+Mono&display=swap');

body {
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4 {
    font-family: Montserrat;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    text-align: justify;
}