@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|Roboto+Mono&display=swap');

::selection {
    background: #ECB72D; /* WebKit/Blink Browsers */
    color: white;
}
::-moz-selection {
    background: #ECB72D; /* Gecko Browsers */
    color: white;
}

* {
    transition: 0.5s;
}

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202223;
    color: white;
    margin: 60px 0 0 0;
}

h1, h2, h3, h4 {
    font-family: Montserrat;
    color:  #ECB72D;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 795px;
    text-align: justify;
    margin-top: 40px;
}

select {
    border: none;
    border-bottom: solid 2px #505050;
    background-color: #1b1d1e;
    color: #505050;
    font-family: 'Roboto Mono';
    font-size: 1.2em;
    margin-left: 20px;
    padding: 6px;
    outline: none;
    outline: none;
}

select:focus {
    outline: none;
    border-bottom: solid 2px #ECB72D;
}

input {
    border: none;
    border-bottom: solid 2px #505050;
    background-color: #1b1d1e;
    padding: 6px;
    font-family: 'Roboto Mono';
    font-size: 1.2em;
    color: #ECB72D;
}

input:focus {
    border-bottom: solid 2px #ECB72D;
    outline: none;
}

input::placeholder {
    color: #505050;
}

hr {
    background-color: #505050;
    width: 100%;
    border: none;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.logo-text {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 20px;
    width: 150px;
    height: 32px;
}

.logo-text:hover {
    text-decoration: underline #ECB72D;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #161819;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    border: none;
    border-bottom: solid 2px #505050;
    background-color: #161819;
    padding: 6px;
    font-family: 'Roboto Mono';
    font-size: 1.2em;
    color: #ECB72D;
    width: 250px;
}

.search-bar:focus {
    border-bottom: solid 2px #ECB72D;
    outline: none;
}

.search-bar::placeholder {
    color: #505050;
}

#auth {
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}

#auth * {
    margin-right: 15px;
}

.settings {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logout {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #1b1d1e;
    box-shadow: 0px 4px 4px #161819;
}

.filter h3 {
    color: #505050;
}

.book {
    text-decoration: none;
    padding: 15px;
    margin: 10px;
    box-shadow: 0px 5px 10px #161819;
}

.book:hover {
    background-color: rgb(20,20,20);
    box-shadow: 0px 5px 10px #161819;
}

.book h4 {
    width: 210px;
    height: 65px;
    color: #ECB72D;
    margin: 20px 0 0 5px;
    font-size: 18px;
}


.book h5 {
    color: grey;
    margin: 5px 0 0 5px;
    font-size: 15px;
}

.setting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    top: 30px;
    width: 600px;
    height: 350px;
    background-color: #1b1d1e;
    box-shadow: 0px 4px 4px #161819;
    padding: 30px;
}

.setting select, .setting h1 {
    margin: 0;
}

.setting label {
    font-family: Roboto Mono;
    font-size: 1.2em;
    margin-right: 20px;
    width:250px;
    display: inline-block;
}

.setting a {
    background-color: #ECB72D;
    color: rgb(82,26,135);
    text-decoration: none;
    font-family: Montserrat;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
}

.setting a:hover {
    background-color: rgb(82,26,135);
    color: #ECB72D;
}

#change {
    display: flex;
    justify-content: space-between;
}

.option {
    margin-top: 10px;
    width: 100%;
}

.option select, .option input {
    width: 200px;
    padding: 6px;
    box-sizing:border-box;
}

#pin {
    position: fixed;
    display: flex;
    top: 160px;
    width: 600px;
    height: 400px;
    background-color: #1b1d1e;
    box-shadow: 0px 4px 4px #161819;
    padding: 30px;
    z-index: 2;
}

#close {
    position: absolute;
    top: 0;
    right: 0;
    color: #ECB72D;
    text-decoration: none;
    font-size: 25px;
    font-family: Montserrat;
    padding: 5px;
}

#close:hover {
    color: rgb(82,26,135);
}

#blur {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: calc(100% - 120px);
    z-index: 1;
    background-color: rgba(255, 255, 255, .001);
    overflow: hidden;
    backdrop-filter: blur(3px);
}

#pin img {
    height: 300px;
    width: 210px;
}

#pin p {
    text-align: justify;
    padding-left: 20px;
    margin: 0;
}

#pin h4, #pin h5 {
    margin: 10px 0 0 0;
}

#pin h5 {
    margin-bottom: 15px;
}

.author-link {
    color: grey;
    font-size: 15px;
    font-family: Montserrat;
    text-decoration: none;
}

.author-link:hover {
    color: rgb(82,26,135);
}

.links {
    margin-top: 20px;
}

.link {
    background-color: #ECB72D;
    color: rgb(82,26,135);
    text-decoration: none;
    font-family: Montserrat;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
}

.link:hover {
    background-color: rgb(82,26,135);
    color: #ECB72D;
}

.book {
    width: 215px;
    height: 408px;
}

.book img, .div-img {
    height: 307px;
    width: 215px;
    z-index: 0;
}

.edit {
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 10;
}

.author-edit {
    display: flex;
    width: 100%;
    justify-content: space-between;
}