{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    <article class="setting">
        <h1>Settings</h1>
        <div class="option">
            <label for="language">Language :</label>
            <select name="language">
                <option value="en">English</option>
                <option value="fr">Français</option>
            </select>
        </div>
        <div class="option">
            <label for="path">Media path :</label>
            <input type="text" placeholder="Path" name="path" title="Default path is public/books/">
        </div>
        <div class="option">
            <label for="pswd1">Change password :</label>
            <input type="password" name="pswd1" placeholder="Password">
            <br>
            <label for=""></label>
            <input style="margin-top: 10px;" type="password" name="pswd2" placeholder="Retype password">
        </div>
        <hr>
        <div class="option" id="change">
            <a href="{{ asset('books')}}">Open Folder</a>
            <a href="">Scan Library Files</a>
            <a href="{{ path('default') }}">Discard Changes</a>
            <a href="">Save Changes</a>
        </div>
    </article>
{% endblock %}